<div class="faixa-superior">
    Universidade Haskell</div>

<div class="conteudo">

  <Span class="area">

  </Span>

  

  <span class="area-login">
    <form name="formulario-login" class="formulario" >

      <p>E-mial</p>
      <div>
          <input type="email" name="nome" value="" [(ngModel)]="usuario.email">
      </div>
      <br>
      <br>
      <br>
      <p>senha</p>
      <div>
          <input type="password" name="senha" value="" [(ngModel)]="usuario.senha">
      </div>
      <br>
      <br>
    
      <div>
          <button (click)="acaoLogin()">Entrar</button>
      </div>
      

    </form>

  </span>

</div>