<div class="faixa-superior">{{usuario.nome}}</div>


<div class="conteudo">

<span class="menu-esquerdo">

  <div class="menu">
  <div  *ngFor="let d of disciplinas">
    <button  (click)="disciplinaSelecionada(d)">{{ d.nome }}</button>
  </div>
</div>
</span>
<Span class="area">

  <h1>{{ tituloDisciplina }}</h1>

  <div class="notas">
    <table >
      <thead>
        <tr>
            <th colspan="4"> {{disciplinaSelecionada.nome}} </th>
          </tr>
          <tr>
              <th> Nome </th>
              <th> P1 </th>
              <th> P2 </th>
              <th> P3 </th>
              <th> Média </th>
            </tr>
      </thead>
      <tbody>
        <tr></tr>
        <tr *ngFor="let a of alunos">
          <td> {{ a.nome }}</td>
          <td> <input type="number"> </td>
          <td> <input type="number"> </td>
          <td> <input type="number"> </td>
          <td> 0 </td>
        </tr>
      </tbody>
    </table>

  </div>


</Span>


</div>