<div class="faixa-superior">{{usuario.nome}}</div>


<div class="conteudo">

<span class="menu-esquerdo">

  <div class="menu">
  <div  *ngFor="let d of disciplinas">
    <button  (click)="disciplinaSelecionada(d)">{{ d.nome }}</button>
  </div>
</div>
</span>
<Span class="area">


  <h1>{{ tituloDisciplina }}</h1>

  <div class="notas">

    <table >
      <thead>
        <tr>
            <th colspan="4"> Notas </th>
          </tr>
          <tr>
              <th> P1 </th>
              <th> P2 </th>
              <th> P3 </th>
              <th> Média </th>
            </tr>
      </thead>
      <tbody>
        <tr></tr>
        <tr>
          <td> {{p1}} </td>
          <td> {{p2}} </td>
          <td> {{p3}} </td>
          <td> {{media}} </td>

        </tr>
      </tbody>
    </table>

  </div>


</Span>


</div>